@using Ebay.Infrastructure.ViewModels.Admin.CreateProduct

@model ProductCreateViewModel

<div class="text-danger" asp-validation-summary=All></div>
<form method="post" asp-controller="Admin" asp-action="UpdateProduct">
        <div class="form-group">
            <label>ID</label>
            <input class="form-control" hidden asp-for=Id value=@Model.Id />
        </div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" value="@Model.Name"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea type="text" asp-for="Description" class="form-control" value="@Model.Description" ></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TotalQuantity"></label>
            <input type="number" asp-for="TotalQuantity" class="form-control" value="@Model.TotalQuantity" />
            <span asp-validation-for="TotalQuantity" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price"></label>
            <input type="number" asp-for="Price" class="form-control" value="@Model.Price" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Select Categories of Product</label>
            <select class="dropdown-item" asp-for="CategoriesIds" asp-items=@Model.CategoryResponseItems></select>
        </div>
        <div>
            <label>Select Discounts</label>
            <select class="dropdown-item" asp-for="DiscountIds" asp-items=@Model.DiscountItems></select>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
</form>
